<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!--> ADDED PERMISSION <-->
    <uses-permission android:name="android.permission.INTERNET"/> <!--> INTERNET ADDED PERMISSION <-->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BENJA"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!-- Intent-filter para exibir o app no menu -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Intent-filter para deep linking -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Custom Scheme e Host -->
                <data
                    android:scheme="com.josemarpedro.Full_Complete_WebApp_WebView_4in1"
                    android:host="auth" />
            </intent-filter>
        </activity>
    </application>

</manifest>